
       
       #logoimg{

        width:15%;
        margin-left:0px;
        float:left;
        padding-top:15px;
      
      }
      
      .main-nav {
        float: right;
        border-radius: 4px;
        margin-top: 8px;
        border: solid 1px white;
      }
        .main-nav > li {
          float: left;
          border-left: solid 1px white;
        }
        .main-nav li:first-child {
          border-left: none;
        }
        .main-nav a {
          color:black;
          display: block;
          padding: 10px 30px;
          text-decoration: none;
 
  
        }
  
 
